.course-card{
    height: 370px;
    width: 270px;
    background-color: rgb(252, 252, 252);
     box-shadow: 2px 2px 2px rgb(222, 222, 222);
     margin:1rem;
     flex-wrap: wrap;
     border-radius: 10px;
     flex: 0 0 auto;
    img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .course-info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .buttons{
        display: flex;
    }
}