.profile-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    .profile{
        background-color: rgb(247, 247, 247);
        box-shadow:0.3rem 0.3rem 1px rgb(234, 231, 231);
        height: 15rem;
        width: 25rem;
        border-radius: 10px;
        padding-left: 1rem;
        h2{
            margin-left: 1rem;
            color: #8a4baf;
        }
    }
}